
.custom{
  &__navbar__brand{
    background-image: url("../img/logo__span.png");
    height: 59px;
    
  }
  &__banner{
    height: 500px;
  }
  &__logo{
    height: 162px;
  }
  &__img{
    height: 256px;
    &__sm{
      height: 50px;
    }
  }
}
