
.list-styled{
  &--none{
    list-style: none;
  }
  &--circle{
    list-style-type : circle;
  }
}
.bg-primary{
  background-color: map-get($color, primary);
}
.bg-secondary{
  background-color: map-get($color, secondary);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 5px;
}






