.d-flex{
  display: flex;
}
.justify-content{
  &--start{
    justify-content: flex-start;
  }
  &--center{
    justify-content: center;
  }
  &--end{
    justify-content: flex-end;
  }
  &--between{
    justify-content: space-between;
  }
  &--between{
    justify-content: space-around;
  }
}

.align-items{
  &--start{
    align-items: flex-start;
  }
  &--center{
    align-items: center;
  }
  &--end{
    align-items: flex-end;
  }
  &--between{
    align-items: space-between;
  }
  &--between{
    align-items: space-around;
  }
}

.list-styled--none{
  list-style: none;
}


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0;
}
.mt-1{
  margin-top: 0.2rem;
}
.mt-2{
  margin-top: 0.4rem;
}
.mr-1{
  margin-right: 0.2rem;
}
.mr-2{
  margin-right: 0.4rem;
}
.ml-1{
  margin-left: 0.2rem;
}
.ml-2{
  margin-left: 0.4rem;
}


// 文字上至下
.writing-mode--htb{
  writing-mode: horizontal-tb;
}
.writing-mode--vrl{
  writing-mode: vertical-rl; 
}
.writing-mode--vlr{
  writing-mode: vertical-lr;
}



