
.list-styled{
  &--none{
    list-style: none;
  }
  &--circle{
    list-style-type : circle;
  }
}


.border {
  border: 1px #AAA solid;
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 5px;
}






