
// TODO:加入推擠距離
// 參考 Bootstrap4

$color: (
  primary: #37523d,
  secondary: #e7eeea,
  success: #6fd6ab,
);

$primary:      #37523d !default;
$secondary:    #e7eeea !default;
$success:      #6fd6ab !default;
$white:        white   !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "white":      $white,
  ),
  $theme-colors
);


$body__font-size:16px;
$body__font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$body__color:#829886;
$body__background-color:#EEE;


$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$table__cell__padding : .75rem;
$table__color--hover: #829886;
$table__bg--hover: white;

$form__padding: .75rem;
$form__group__margin-bottom : 10px;


