
// 加入文字大小
// 參考 Bootstrap4

// 加入色彩變數，但只適合變數使用
$color: (
  primary: #37523d,
  secondary: #e7eeea,
  success: #829886
  // success: #22ae39
);


$body__font-size:16px;
$body__font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$body__color:#829886;
$body__background-color:#EEE;


$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$table__cell__padding : .75rem;
$table__color--hover: black;
$table__bg--hover: white;

$form__padding: .75rem;
$form__group__margin-bottom : 10px;