.d-flex {
  display: flex;
}
.flex-direction {
  &--column {
    flex-direction: column;
  }
  &--reverse {
    flex-direction: column-reverse;
  }
}
.justify-content {
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--between {
    justify-content: space-between;
  }
  &--between {
    justify-content: space-around;
  }
}

.align-items {
  &--start {
    align-items: flex-start;
  }
  &--center {
    align-items: center;
  }
  &--end {
    align-items: flex-end;
  }
  &--between {
    align-items: space-between;
  }
  &--between {
    align-items: space-around;
  }
}
