.d-flex {
  display: flex;
  &--reverse{
    flex-direction: row-reverse;
  }
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.flex-direction {
  &--column {
    flex-direction: column;
  }
  &--column-reverse {
    flex-direction: column-reverse;
  }
}
.wrap{
  flex-wrap: wrap;
}
.justify-content {
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--between {
    justify-content: space-between;
  }
  &--around {
    justify-content: space-around;
  }
}

.align-items {
  &--start {
    align-items: flex-start;
  }
  &--center {
    align-items: center;
  }
  &--end {
    align-items: flex-end;
  }
  &--between {
    align-items: space-between;
  }
  &--around {
    align-items: space-around;
  }
}
