.m-0 {
  margin: 0;
}
.m-auto {
  margin: 0 auto;
}
.p-0 {
  padding: 0;
}
.mt-1 {
  margin-top: 0.2rem;
}
.mt-2 {
  margin-top: 0.4rem;
}

.mb-1 {
  margin-bottom: 0.2rem;
}
.mb-2 {
  margin-bottom: 0.4rem;
}

.mr-1 {
  margin-right: 0.2rem;
}
.mr-2 {
  margin-right: 0.4rem;
}

.ml-1 {
  margin-left: 0.2rem;
}
.ml-2 {
  margin-left: 0.4rem;
}
