// prop   -> property 屬性
// abbrev -> abbreviation 縮寫
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $spacer, $value in $spacers {
    .#{$abbrev}-#{$spacer} {
      #{$prop}: $value !important;
    }
    .#{$abbrev}t-#{$spacer},
    .#{$abbrev}y-#{$spacer} {
      #{$prop}-top: $value !important;
    }
    .#{$abbrev}r-#{$spacer},
    .#{$abbrev}x-#{$spacer} {
      #{$prop}-right: $value !important;
    }
    .#{$abbrev}b-#{$spacer},
    .#{$abbrev}y-#{$spacer} {
      #{$prop}-bottom: $value !important;
    }
    .#{$abbrev}l-#{$spacer},
    .#{$abbrev}x-#{$spacer} {
      #{$prop}-left: $value !important;
    }
  }
}

// p px py pt pr pb pl
// $spacer -> 1~5
// @each $spacer, $value in $spacers {
//   #{".p-#{$spacer}"} {
//     padding: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".px-#{$spacer}"} {
//     padding: 0px $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".py-#{$spacer}"} {
//     padding: $value 0 !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".pt-#{$spacer}"} {
//     padding-top: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".pr-#{$spacer}"} {
//     padding-right: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".pb-#{$spacer}"} {
//     padding-bottom: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".pl-#{$spacer}"} {
//     padding-left: $value !important;
//   }
// }

// m mx my mt mr mb ml
// @each $spacer, $value in $spacers {
//   #{".m-#{$spacer}"} {
//     margin: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".mx-#{$spacer}"} {
//     margin: 0px $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".my-#{$spacer}"} {
//     margin: $value 0 !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".mt-#{$spacer}"} {
//     margin-top: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".mr-#{$spacer}"} {
//     margin-right: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".mb-#{$spacer}"} {
//     margin-bottom: $value !important;
//   }
// }
// @each $spacer, $value in $spacers {
//   #{".ml-#{$spacer}"} {
//     margin-left: $value !important;
//   }
// }

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}
