// 文字上至下
.writing-mode--htb {
  writing-mode: horizontal-tb;
}
.writing-mode--vrl {
  writing-mode: vertical-rl;
}
.writing-mode--vlr {
  writing-mode: vertical-lr;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-primary{
  color: map-get($color, primary)
}
.text-secondary{
  color: map-get($color, secondary)
}