.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__brand{
    width: 100%;
    @include hidden_text(224px, 50px, "../img/logo.png");
  }
  &__nav{
    list-style: none;
  }
  &__item{
    margin-left: 20px;
    font-size: 1.5rem;
  }
  &__column{
    flex-direction: column;
    &__nav{
      margin: 0;
      width: 100%;
      text-align: center;
    }
    &__item{
      padding: 1rem 0;
      
    }
  }
}