// 圓形進度條
.progress-round {
  &__list {
    li {
      position: relative;
      width: 15px;
      height: 15px;
      font-size: 10px;
      color: white;
      border-radius: 50%;
      border: 1px solid theme-color("primary");
      background-color: white;
      box-shadow: 0px 0px 0px 1px white;
      + li {
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -48px;
          width: 46px;
          height: 1px;
          border: 1px solid theme-color("secondary");
          background-color: theme-color("secondary");
        }
      }
      &.active {
        ~ li {
          box-shadow: 0px 0px 0px 1px theme-color("secondary");
          background-color: transparent;
          &::before {
            background-color: theme-color("secondary");
          }
        }
      }
      &.check {
        border: none;
        color: theme-color("primary");
        .fa-check {
          transform: translate(2px, 1px);
        }
      }
    }
  }
}
